.main{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.imgContainer{
    width: 98vw;
    height: 70vh;
}
.img{
    width: 96vw;
    height: 50vh;
    object-fit: cover;
}