.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}
.first{
  height: 98vh;
  width: 98vw;
  overflow: hidden;
}
.frame{
  width: 100vw;
  height: 100vh;


}
.table{
  opacity: 0.7;
  background-color:#0F2119;
  width: 90vw;
  height: 10vh;
  gap:2vh;
  justify-content: space-between;
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}
.content{
  width: 89vw;
  gap: 4vw;
 
}
.point{
  padding-top: 5vh;
  width: 100vw;
  text-align: center;
  opacity: 0.7;
  padding-bottom: 2vh;
}
.thing{
  display: flex;
  opacity: 0.7;
  background-color:#0F2119;
  width: 89vw;
  justify-content: space-between;
  gap: 2vh;
}